<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="nav-item">
                <div class="nav-icon">
                    <div class="nav-icon-outline" style="width: 36px; height: 24px; left: 6px; top: 12px;"></div>
                </div>
            </div>
            <div class="nav-item">
                <div class="nav-icon">
                    <div class="nav-icon-outline" style="width: 12px; height: 18px; left: 18px; top: 24px;"></div>
                    <div class="nav-icon-outline" style="width: 36px; height: 38px; left: 6px; top: 4px;"></div>
                </div>
            </div>
            <div class="nav-item">
                <div class="nav-icon">
                    <div class="nav-icon-outline" style="width: 20px; height: 20px; left: 14px; top: 6px;"></div>
                    <div class="nav-icon-outline" style="width: 32px; height: 16px; left: 8px; top: 26px;"></div>
                </div>
            </div>
        </div>
        <div class="main-content" style="height: 1080px;">
            <div class="header">
                <div class="nav-item" style="width: 204px; padding-right: 36px;">
                    <div class="nav-icon">
                        <div class="nav-icon-outline" style="width: 36px; height: 40px; left: 4px; top: 4px;"></div>
                        <div class="nav-icon-outline" style="width: 20px; height: 20px; left: 24px; top: 4px;"></div>
                    </div>
                    <div class="text-regular" style="width: 44px; height: 24px; text-align: center; font-weight: 600;">
                        Task</div>
                </div>
                <div class="nav-item" style="width: 204px; padding-right: 36px;">
                    <div class="nav-icon">
                        <div class="nav-icon-outline"
                            style="width: 17.73px; height: 14.72px; left: 15.12px; top: 5.28px;"></div>
                        <div class="nav-icon-outline" style="width: 14px; height: 14px; left: 6px; top: 28px;"></div>
                        <div class="nav-icon-outline" style="width: 14px; height: 14px; left: 28px; top: 28px;"></div>
                    </div>
                    <div class="text-regular" style="width: 68px; height: 24px; text-align: center; font-weight: 600;">
                        Shapes</div>
                </div>
                <div class="nav-item" style="width: 204px; padding-right: 36px;">
                    <div class="nav-icon" style="transform: rotate(-180deg); transform-origin: top left;">
                        <div class="nav-icon-outline" style="width: 36px; height: 36px; left: 6px; top: 6px;"></div>
                        <div class="nav-icon-outline" style="width: 36px; height: 12px; left: 6px; top: 18px;"></div>
                    </div>
                    <div class="text-regular" style="width: 77px; height: 24px; text-align: center; font-weight: 600;">
                        Tier List</div>
                </div>
                <div class="nav-item" style="width: 204px; padding-right: 36px;">
                    <div class="nav-icon">
                        <div class="nav-icon-outline" style="width: 16px; height: 8px; left: 16px; top: 4px;"></div>
                        <div class="nav-icon-outline" style="width: 36px; height: 36px; left: 6px; top: 8px;"></div>
                    </div>
                    <div class="text-regular" style="width: 84px; height: 24px; text-align: center; font-weight: 600;">
                        Calendar</div>
                </div>
            </div>
            <div class="main-content" style="left: 0px; top: 84px;">
                <div class="footer" style="left: 125px; top: 1887px;">
                    <div><span class="footer-text footer-text-bold">did you know?</span><span
                            class="footer-text footer-text-regular"> → The name TMO was inspired by the robot named BMO
                            from Adventure Time.</span></div>
                </div>
                <div style="width: 1836px; height: 1887px; left: 0px; top: 0px; position: absolute;">
                    <div
                        style="width: 276px; height: 276px; left: 1069px; top: 1125px; position: absolute; border-radius: 9999px; border: 5px white solid">
                    </div>
                    <div class="tier-container" style="left: 132px; top: 122px;">
                        <div class="tier-row">
                            <div class="tier-box tier-s">
                                <div class="tier-letter">S</div>
                            </div>
                        </div>
                        <div class="tier-row">
                            <div class="tier-box tier-a">
                                <div class="tier-letter">A</div>
                            </div>
                        </div>
                        <div class="tier-row">
                            <div class="tier-box tier-b">
                                <div class="tier-letter">B</div>
                            </div>
                        </div>
                        <div class="tier-row">
                            <div class="tier-box tier-c">
                                <div class="tier-letter">C</div>
                            </div>
                        </div>
                    </div>
                    <!-- Task cards -->
                    <div class="card" style="width: 156px; height: 156px; left: 406px; top: 139px;">
                        <div class="card-content" style="height: 120px;">
                            <div class="card-title">Title of the task ...........
                                ...........................................</div>
                        </div>
                    </div>
                    <!-- Repeat similar structure for other task cards -->
                    <div class="decorative-box"
                        style="width: 260px; height: 291px; left: 1127px; top: 548px; background: var(--color-brown-dark);">
                    </div>
                </div>
            </div>
        </div>
        <img style="width: 84px; height: 84px; left: 1776px; top: 60px; position: absolute; border-radius: 1000px"
            src="https://placehold.co/84x84" />
    </div>
</body>

</html>